#login-outer {
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height:100%;  
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#signup-outer {
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height:100%;  
}

.signup-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.has-text-danger{
    color: red;
}

#submit {
    width:100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

form{
    display: flex;
    flex-direction: column;
}

.form_link {
    color: blue;
    text-decoration: none;
    cursor: pointer;
}

.form_link:hover {
    text-decoration: underline;
}

.form_text {
    margin-top: 30px;
}